# General aliases for everyday use
alias ls='ls --color=auto'
alias l='ls -l'
alias la='ls -la'
alias l='ls -l'
alias la='ls -la'
alias lah='ls -lah'
alias lh='ls -lh'
alias lrt='ls -lrt'
alias lrtail='ls -lrt|tail'
alias find='noglob find'
alias ff='noglob _ff'
alias ffi='noglob _ffi'
alias fff='noglob _fff'
alias fffi='noglob _fffi'
alias Cat='cat'
alias .='source'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias awkf1="awk -F' ' '{print $1}'"
alias curl='noglob curl --silent --insecure --noproxy "*"'
alias cx='chmod +x'
alias d='docker'
alias Grep='grep'
alias grep='grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn}'
alias grepi='grep -i'
alias grepw='grep -w'
alias grepwi='grep -wi'
alias grepiw='grep -wi'
alias halt='halt -p'
alias jless='json|less'
alias json='jq .'
alias json='python -mjson.tool'
alias k9="kill -9"
alias p4='ping 8.8.4.4'
alias pcat='PAGER=cat'
alias pless='PAGER=less'
alias pop='popd'
alias rdesktop='rdesktop -g 50%'
alias rdp='rdesktop'
alias tags='ctags -R --python-kinds=-i'
alias tf0='tail -0f'
alias tf1='tail -1f'
alias tf='tail -f'
alias today='date +%Y-%m-%d'
alias pS='sudo pacman -Sy'
alias pSs='pacman -Ss'
alias gqview='geeqie'
alias s='systemctl'
alias ss='sudo systemctl'
alias hu='setxkbmap hu'
alias us='setxkbmap us'
alias youtube-dl-mp3='youtube-dl -x --audio-format=mp3'
alias mynotifywait='inotifywait -r -e modify,attrib,delete,create,move --exclude "/\.git/|/\.idea/|/\..*\.sw[opx]+$"'
alias scp='noglob scp'
alias my-refresh-firefox='CURR=$(xdotool getactivewindow); xdotool windowactivate $(xdotool search --name "Mozilla Firefox" | tail -1); xdotool key F5; xdotool windowactivate $CURR'

# git
alias 'gc!'='git commit -v --amend'
alias 'gca!'='git commit -v -a --amend'
alias 'gcan!'='git commit -v -a --no-edit --amend'
alias g=git
alias ga='git add'
alias gaa='git add --all'
alias gapa='git add --patch'
alias gb='git branch'
alias gba='git branch -a'
alias gbda='git branch --merged | command grep -vE "^(\*|\s*master\s*$)" | command xargs -n 1 git branch -d'
alias gbl='git blame -b -w'
alias gbnm='git branch --no-merged'
alias gbr='git branch --remote'
alias gbs='git bisect'
alias gbsb='git bisect bad'
alias gbsg='git bisect good'
alias gbsr='git bisect reset'
alias gbss='git bisect start'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gcan='git commit -v -a -m tmp'
alias gcb='git checkout -b'
alias gcf='git commit -v --fixup'
alias gcaf='git commit -v -a --fixup'
alias gcfa='gcaf'
alias gcl='git clone --recursive'
alias gclean='git reset --hard && git clean -dfx'
alias gcm='git checkout master'
alias gcmsg='git commit -m'
alias gco='git checkout'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gcs='git commit -S'
alias gd='git diff'
alias gdc='git diff --cached'
alias gdt='git diff-tree --no-commit-id --name-only -r'
alias gdw='git diff --word-diff'
alias gf='git fetch --prune'
alias gfa='git fetch --all --prune'
alias gfo='git fetch origin'
alias gg='git grep'
alias ggw='git grep -w'
alias ggi='git grep -i'
alias gga='git gui citool --amend'
alias ggpull='git pull origin $(current_branch)'
alias ggpush='git push origin $(current_branch)'
alias ggsup='git branch --set-upstream-to=origin/$(current_branch)'
alias gignore='git update-index --assume-unchanged'
alias gignored='git ls-files -v | grep "^[[:lower:]]"'
alias gk='\gitk --all --branches'
alias gke='\gitk --all $(git log -g --pretty=format:%h)'
alias gl='git pull'
alias glg='git log --stat --color'
alias glggom='git lgg origin/master..'
alias glgga='git log --graph --decorate --all'
alias glgm='git log --graph --max-count=10'
alias glgp='git log --stat --color -p'
alias glo='git log --oneline --decorate --color'
alias globurl='noglob urlglobber '
alias glog='git log --oneline --decorate --color --graph'
alias glol='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'' --abbrev-commit'
alias glola='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'' --abbrev-commit --all'
alias glom='git log origin/master..'
alias glom1='git log --oneline --decorate --color origin/master..'
alias glp='git log -p'
alias gm='git merge'
alias gmom='git merge origin/master'
alias gmt='git mergetool --no-prompt'
alias gmtvim='git mergetool --no-prompt --tool=vimdiff'
alias gmum='git merge upstream/master'
alias gpd='git push --dry-run'
alias gpf='git push --force-with-lease'
alias gpfff='git push --force'
alias gpoat='git push origin --all && git push origin --tags'
alias gpr='git pull --rebase'
alias gpv='git push -v'
alias gprv='git pull --rebase && git push -v'
alias gr='git remote'
alias gra='git rebase --abort'
alias grb='git rebase'
alias grm='git rebase master'
alias grc='git rebase --continue'
alias grh='git reset HEAD'
alias grhh='git reset HEAD --hard'
alias grhrd='git reset --hard'
alias grhrdom='git reset --hard origin/master'
alias gri='git rebase -i'
alias gria='git rebase -i --autosquash'
alias griom='git rebase -i origin/master'
alias grioma='git rebase -i origin/master --autosquash'
alias grmv='git remote rename'
alias grom='git rebase origin/master'
alias groma='git rebase origin/master --autosquash'
alias grrm='git remote remove'
alias grset='git remote set-url'
alias gru='git reset --'
alias grup='git remote update'
alias grv='git remote -v'
alias gs="git show"
alias gs='git show'
alias gsb='git status -sb'
alias gsd='git svn dcommit'
alias gsi='git submodule init'
alias gskip='git rebase --skip'
alias gsps='git show --pretty=short --show-signature'
alias gst='git status'
alias gsta='git stash'
alias gss='git stash show -v'
alias gstaa='git stash apply'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash show --text'
alias gtag='git tag -f'
alias gtagtoday='git tag -f `today`'
alias gtouch='git diff --name-only origin/master | xargs touch'
alias gtrack='git status -s && git branch --track remotes/origin/`git status |head -1|cut -c13-`'
alias gts='git tag -s'
alias gunignore='git update-index --no-assume-unchanged'
alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
alias gvt='git verify-tag'
alias gwch='git whatchanged -p --abbrev-commit --pretty=medium'
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit -m "--wip--"'
alias grt='cd $(git rev-parse --show-toplevel || echo ".")'

# local overrides
if [[ -f ~/.aliases.local ]]
then
    source ~/.aliases.local
fi
