alias ls='ls --color=auto'
alias l='ls -l'
alias la='ls -la'
alias lah='ls -lah'
alias lh='ls -lh'
alias lrt='ls -lrt'
alias lrtail='ls -lrt|tail'
alias ff='find . -name'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

alias grepi='grep -i'
alias grepw='grep -w'
alias grepwi='grep -wi'
alias grepiw='grep -wi'

alias d=docker
alias cx='chmod +x'
alias apt-get='sudo apt-get'
alias sctl='sudo systemctl'

alias gs='git show'
alias gg='git grep'
alias ggi='git grep -i'
alias gd='git diff'
alias gst='git status'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias grs='git rebase --skip'

alias hu='setxkbmap hu'
alias us='setxkbmap us'

# local overrides
if [[ -f ~/.aliases.local ]]
then
    source ~/.aliases.local
fi

alias pss='pacman -Ss'
alias pS='sudo pacman -S'
alias .='source'
