*
!.aliases
!.gitconfig
!.gitignore
!.vimrc
!.xbindkeysrc
!.xprofile
!.zshoptions
!.zshenv
!.zshrc
!.zshfunc
!bin
bin/*
!bin/fut
!bin/waitfile
!bin/change_keyboard_layout
!.config
.config/*
!.config/konsole.css
!.config/systemd
.config/systemd/*
!.config/systemd/user
.config/systemd/user/*
!.config/systemd/user/xset.service
!.config/systemd/user/xset.timer
