*
!.aliases
!.gitconfig
!.gitignore
!.vimrc
!.xbindkeysrc
!.xprofile
!.zshoptions
!.zshenv
!.zshrc
!.zshfunc
!bin
bin/*
!bin/fut
!bin/waitfile
!bin/change_keyboard_layout
!.config/
.config/*
!.config/konsole.css
